*{
    /* woring   */
}

/* ======================= */
/* header section */
/* ======================= */

 header{
    background-color: #FFFFFF;

 }

        .comman_container{
            max-width: 1200px;
            margin: 0 auto;
        }
        .common_btn{
            background-color: #1D4ED8;
            color: white;
            padding: 10px 18px;
            border-radius: 6px;
            font-size: 20px;
        }
          
        nav{
            border: 2px solid red;
            display: flex;
            justify-content: space-between;
            padding: 8px;
        }
          .logo_container{
            width: 110px;
            border: 1px solid red;
          }
          .logo_container{
            width: 110px;
          }
        .logo_container img{
            width: 100%;
        }

        .link_container{
            display: flex;
            gap: 20px;
            list-style: none;
        }
 

/* ======================= */
/* header section */
/* ======================= */
/* ======================= */
/* header section */
/* ======================= */
/* ======================= */
/* header section */
/* ======================= */